<!DOCTYPE html>
<html lang="en">
<body>
    <footer>
        <nav> /*aria-label="Footer Navigation">*/
            <a href="https://github.com/adeoluabiodun/">GitHub</a> |
            <a href="https://adeoluabiodun.github.io/">GitHub.io</a> |
            <a href="https://www.codecademy.com/profiles/AdeoluAbiodun">Codecademy</a> |
            <a href="https://www.freecodecamp.org/AdeoluAbiodun">FreeCodeCamp</a> |
            <a href="https://jsfiddle.net/u/AdeoluAbiodun/fiddles/">JSFiddle</a> |
            <a href="https://www.linkedin.com/in/adeolu-abiodun-42a858279/">LinkedIn</a>
        </nav>
        <p>Built by: <em>Adeolu T. Abiodun</em></p>
    </footer>
</body>
</html>
