<!DOCTYPE html>
<html lang="en">
<body>
    <header>
        <h1>Harmony Breeze | WEB250</h1>
        <nav>
            <a href="index.html">Home</a>&nbsp;|
            <a href="introduction.html">Introduction</a>&nbsp;|
            <a href="contract.html">Contract</a>&nbsp;|
            <a href="brand.html">Brand</a>&nbsp;|
            <a href="introductionform2.html">Introduction Form</a>
        </nav>
    </header>
    <script src="scripts/include.js"></script>
</body>
</html>
