<!DOCTYPE html>
<html lang="en">
<head>
    <link rel="stylesheet" href="styles/default.css">
</head>
<body>
    <header style="padding: 10px;">
        <img src="images/businessCard.jpg" alt="Harmony Breeze Logo" width="100" height="50">
        <h1>Adeolu Abiodun's Harmony Breeze</h1>
        <h3>Bringing Rhythm to Every Moment</h3>
        <nav>
            <a href="index.html">Home</a> |
            <a href="introduction.html">Introduction</a> |
            <a href="contract.html">Contract</a> |
            <a href="brand.html">Brand</a> |
            <a href="introductionform2.html">Introduction Form</a>
        </nav>
    </header>
    <script src="scripts/include.js"></script>
</body>
</html>
