<!DOCTYPE html>
<html lang="en">
<head>
    <link rel="stylesheet" href="styles/default.css">
</head>
<body>
   <header>
        <div class="header-content">
            <img src="images/logo.png" alt="Harmony Breeze Logo" class="logo">
            <div>
                <h1>Adeolu Abiodun's Harmony Breeze</h1>
                <p><em>Bringing Rhythm to Every Moment</em></p>
            </div>
        </div>
        <nav aria-label="Main Navigation">
            <a href="index.html">Home</a> |
            <a href="introduction.html">Introduction</a> |
            <a href="contract.html">Contract</a> |
            <a href="brand.html">Brand</a> |
            <a href="introductionform2.html">Introduction Form</a>
        </nav>
    </header>
    <script src="scripts/include.js"></script>
</body>
</html>
