body {
    background-color: #f4f1de;
    color: #3d405b;
    font-family: 'Open Sans', sans-serif;
    line-height: 1.8;
    max-width: 1200px;
    margin: auto;
    padding: 10px;
    box-sizing: border-box;
}

header {
    display: flex;
    align-items: center;
    background-color: #3d405b;
    /* color: #f2cc8f; */
    color: #3d405b;
    padding: 10px;
    gap: 15px;
    text-align: left;
    flex-wrap: wrap;
}

header p {
    color: #f2cc8f;
}

.header-content {
    display: flex;
    align-items: center;
    gap: 10px;
}

.logo {
    height: 100%;
    max-height: 80px;
    border-radius: 5px;
    margin-right: auto;
}

h1 {
    font-size: 36px;
    color: #f2cc8f;
    margin: 0;
    line-height: 1.2;
}

p {
    color: #3d405b;
    margin: 0;
}

nav {
    background-color: #e07a5f;
    padding: 8px 0;
    font-weight: bold;
    font-size: 16px;
    text-align: center;
    width: 100%;
}

nav a {
    color: #f2cc8f;
    text-decoration: none;
    margin: 0 10px;
}

nav a:hover,
nav a:focus {
    /* color: #ffafcc; */
    color: #3d405b;
    text-decoration: underline;
    outline: none;
}

footer {
    background-color: #3d405b;
    color: #3d405b;
    /* color: #e07a5f; */
    text-align: center;
    padding: 10px 0;
    font-size: 14px;
    margin-top: 20px;
}

footer nav a {
   /* color: #f2cc8f; */
    color: #3d405b;
    text-decoration: none;
    margin: 0 10px;
}

footer p {
    color: #f2cc8f;
    margin-top: 10px;
}

h2 {
    color: #3d405b;
    font-family: 'Merriweather', serif;
    text-align: center;
}

h3 {
    color: #3d405b;
    font-family: 'Merriweather', serif;
}


a:focus {
    outline: 2px solid #81b29a;
    outline-offset: 2px;
}
