html, body {
  background-color: #f4f1de; /*f0f8ff;*/ 
  color: #3d405b; /*#e07a5f; *//*1b262c;*/
  font-family: 'Open Sans', sans-serif;
  line-height: 1.8;
  margin: 0;
  padding: 15px;
  box-sizing: border-box;
}

body {
  max-width: 1200px;
  margin: auto;
  padding: 10px;
}

header, footer {
  text-align: center;
  background-color: #3d405b; /*0077b6;*/
  color: #e07a5f; /*81b29a;  /*ffe5d9;*/
  padding: 20px 0;
  font-family: 'Montserrat', sans-serif;
  font-size: 24px;
  border-bottom: 3px solid #ffafcc;
}

h1 {
  color: #f2cc8f; /*#3d405b; /*#f2cc8f;*/ /*ffafcc;*/
  font-family: 'Montserrat', sans-serif;
  font-size: 42px;
  margin-bottom: 20px;
  text-align: center;
}

h2 {
  font-size: 30px;
  color: #3d405b; /*#f2cc8f;*/ /*ffafcc;*/
  text-align: center;
  font-weight: 1500;
  font-family: 'Merriweather', serif;
  margin-bottom: 20px;
}

p {
  color: #3d405b; /*#f2cc8f;*/ /*ffafcc;*/
  font-size: 18px;
  line-height: 1.6;
  margin-bottom: 20px;
}

li {
  list-style: disc;
  margin-left: 25px;
  color: #3d405b; /*30475e;*/
  font-size: 18px;
  margin-bottom: 10px;
}

nav {
  background-color: #e07a5f; /*81b29a;*/ /*#1b262c;*/
  color: #f2cc8f; /*#e07a5f; *//*ffe5d9;*/
  padding: 15px;
  text-align: center;
  font-weight: bold;
  margin: 30px 0;
  font-size: 18px;
  border-radius: 10px;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
}

a:link, a:visited {
  color: #3d405b; /*#ffafcc;*/
  text-decoration: none;
  font-weight: bold;
}

a:hover {
  color: #81b29a; /*#ff6392;*/
  text-decoration: underline;
}

a:active {
  color: #001219;
}

figure {
  width: 300px;
  margin: 20px auto;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.sub-list {
  list-style-type: square;
  margin-left: 30px;
  color: #30475e;
}

.resized-w3c {
  max-width: 100px;
  height: auto;
}

.slogan {
  font-style: italic;
  color: #1b262c;
  font-size: 20px;
  margin-top: 20px;
  text-align: center;
}

.head-section {
  text-align: center;
  color: #30475e;
  margin-bottom: 30px;
}

.toc-list li {
  list-style: square;
  padding: 15px;
  border-radius: 8px;
  box-shadow: 0 0 5px rgba(0, 0, 0, 0.1);
  color: #30475e;
  font-size: 20px;
  margin-bottom: 10px;
  background-color: #f9f9f9;
}

.toc-image {
  display: grid;
  place-items: center;
  align-items: center;
  border: solid #0077b6 5px;
}

label {
  display: block;
  margin: 15px 0;
  color: #30475e;
  font-size: 18px;
}

@media (max-width: 768px) {
  body {
    font-size: 16px;
  }
  nav {
    font-size: 16px;
  }
}

@media (min-width: 769px) and (max-width: 1024px) {
  body {
    font-size: 18px;
  }
}

@media (min-width: 1025px) {
  body {
    font-size: 20px;
  }
}
