* {
  box-sizing: border-box;
}

body {
  background-color: coral;
  animation: changeColor 180s infinite;
  color: #3C1518;
  font-family: Lora, Helvetica, sans-serif;
}

header, footer {
  text-align: center;
  background-color: #EAEAEA;
}

@keyframes changeColor {
  0% { background-color: coral; }
  25% { background-color: skyblue; }
  50% { background-color: lightgreen; }
  75% { background-color: pink; }
  100% { background-color: yellow; }
}

h1 {
  color: #8D0801;
  font-family: Montserrat, Roboto Slab;
}

h2 {
  font-size: 28px;
  color: #4F000B;
  text-align: center;
  font-family: Merriweather, sans-serif;
}

p {
  color: #3C1518;
}

li {
  list-style: disc;
  margin-left: 20px;
  color: #3C1518;
}

nav {
  color: #3C1518;
  padding: 10px;
  text-align: center;
  font-weight: 800;
  margin: 0 10px;
  font-size: 15px;
  word-spacing: 0.3em;
}

a:active {
    color: #92140C;
}

figure {
  width: 260px;
  height: auto;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  margin: auto;
}

.sub-list {
  list-style-type: square;
  margin-left: 20px;
  color: #3C1518;
}

.resized-w3c {
  max-width: 2px;
  height: auto;
}

.slogan {
  font-style: italic;
  color: #3C1518;
}

.head-section {
  text-align: center;
  color: #3C1518;
}

/*@media (max-width: 768px) {
}

@media (min-width: 769px) and (max-width: 1024px) {
}

@media (min-width: 1025px) {
}

*/

.toc-list li {
  list-style: square;
  padding: 20px;
  border-radius: 10px;
  box-shadow: 0 0 5px rgba(0, 0, 0, 0.2);
  color: #3C1518;
  font-size: 22px;
  padding-right: 10px;
}

.toc-image {
  display: grid;
  place-items: center;
  align-items: center;
  border: solid white 10px;
}

label {
  display: block;
  margin: auto;
  color: #3C1518;
}
